<div class="pi__container">
    <div class="pi__title">Your Progress</div>
    <div class="pi__sub-container">
        <div class="pi__bar-panel">
            <div class="pi__bar-title">Reached: </div>
            <div class="pi__bar">
                <div class="pi__progress-bar">
                    <div class="pi__indicator"></div>
                </div>
                <div class="pi__target-panel">
                    <p class="pi__target-text"></p>
                </div>
            </div>
        </div>
        <div class="pi__message-panel">
            <div class="pi__icon"></div>
            <div class="pi__message"></div>
        </div>
    </div>
</div>
